body {
    background-image: url(img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: sans-serif;
    height: 100%;
}

.container {
    max-width: 400px;
    margin: 10% auto;
    background-color: white;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left {
    display: flex;
    padding: 20px;
    box-sizing: border-box;
    justify-content: center;
}

.left img {
    max-width: 400px;
    max-height: 200px;
    background-color: red;
    border-radius: 5px;
    object-fit: contain;
}

.right {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    margin-left: 8%;
    box-sizing: border-box;
    align-items: center;
    padding-bottom: 20px;
}

.identity {
    margin-top: -10px;
}

a {
    color: gray;
    text-decoration: none;
}

a:hover {
    color: blue;
}

table {
    table-layout: auto;
}

td {
    padding-right: 30px;
    padding-bottom: 5px;
    color: #333;
}

span {
    color: #999;
}

@media screen and (min-width:1366px) {
    .container {
        flex-direction: row;
        max-width: 800px;
        padding: 50px;
        border-radius: 10px;
    }

    .left {
        justify-content: center;
        align-items: center;
    }

    .left img {
        border-radius: 5px;
        background-color: red;
        display: block;
        max-width: 300px;
        max-height: 400px;
        margin-left: auto;
        margin-right: auto;
        box-sizing: border-box;
    }

}